body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
  }

  .h1{
    color: #cb2f2f;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .planet-card {
    border: 1px solid #cb2f2f;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
  